table {
    border-collapse: collapse;
}

td {
    border: 1px solid #999;
    padding: 0;
}

td:hover {
    cursor: crosshair;
}

tr:first-child td, tr:first-child td input, 
td:first-child input, td:first-child {
    background-color: #ccc;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
}

.ui-selecting {
    background: #FECA40 !important;
}

.ui-selected {
    background: #F39814 !important;
}

input {
    border: none;
    width: 80px;
    font-size: 14px;
    padding: 4px;
}

input:hover {
    background-color: #eee;
}

input:focus {
    background-color: #ccf;
}

input:not(:focus) {
    text-align: right;
}